table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}
label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

input {
    padding: .7em;
    margin-bottom: .2em;
}

h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}
